*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI, sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#f4f6f8;
}

.container{
width:95%;
max-width:1200px;
height:90vh;
display:flex;
border-radius:20px;
overflow:hidden;
box-shadow:0 20px 50px rgba(0,0,0,0.1);
}

.left{
flex:1;
background:linear-gradient(135deg,#0f3d2e,#1b5e20);
color:white;
padding:50px;
display:flex;
flex-direction:column;
justify-content:space-between;
}

.logo{
font-size:22px;
font-weight:600;
}

.hero-text h1{
font-size:48px;
margin-bottom:20px;
}

.hero-text p{
font-size:18px;
opacity:0.9;
line-height:1.6;
}

.right{
flex:1;
background:white;
padding:60px;
display:flex;
flex-direction:column;
justify-content:center;
}

.subtitle{
color:gray;
margin-bottom:30px;
}

.card{
display:flex;
gap:15px;
background:#f9fafb;
padding:15px;
border-radius:12px;
margin-bottom:15px;
transition:0.3s;
}

.card:hover{
background:#eef7f0;
transform:translateY(-3px);
}

.btn{
margin-top:25px;
padding:14px;
border:none;
border-radius:10px;
background:linear-gradient(135deg,#2e7d32,#1b5e20);
color:white;
font-size:16px;
cursor:pointer;
}

.btn:hover{
opacity:0.9;
}

.lang-btn {
    cursor:pointer; 
    background:none; 
    border:1px solid white; 
    color:white; 
    padding:6px 12px; 
    border-radius:6px;
    margin-right: 5px;
    transition: 0.3s;
}
.lang-btn:hover {
    background: white;
    color: #1b5e20;
}